tests/evenementPatient/debiteurVenue.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.0 beta 2 build Jul 26 2001 (http://www.xmlspy.com) by Macary François (private) -->
<xsd:schema targetNamespace="http://www.hprim.org/hprimXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hprim.org/hprimXML" xmlns:insee="http://www.hprim.org/inseeXML"  elementFormDefault="qualified" attributeFormDefault="unqualified">
   <!-- 
    importations des schémas des autres domaines de noms 
  -->
  <xsd:import namespace="http://www.hprim.org/inseeXML" schemaLocation="nomenclaturesInsee.xsd"/>
   <!-- 
      inclusions des schémas de niveaux inférieurs utiles 
   -->

   <xsd:include schemaLocation="patient.xsd"/>
   <xsd:include schemaLocation="venue.xsd"/>
   <xsd:include schemaLocation="priseEnCharge.xsd"/>

   <!--  -->
   <xsd:complexType name="typeDebiteursVenue">
      <xsd:sequence>
         <xsd:element name="patient" type="typePatientLight" />
         <xsd:element name="venue" type="typeVenueLight" />
         <xsd:element name="employeurs" type="typeEmployeurs" minOccurs="0" />
         <xsd:element name="debiteurs" type="typeDebiteurs"/>
      </xsd:sequence>
      <xsd:attribute name="action" type="actionMiseAJour" use="required"/>
   </xsd:complexType>
   
   <xsd:complexType name="typeDebiteurs">
      <xsd:sequence>
         <xsd:element name="debiteur" type="typeDebiteur"  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="typeDebiteur" >
      <xsd:sequence>
         <xsd:element name="identifiant" type="typeIdentifiant" minOccurs="0"/>
         <xsd:choice>
            <xsd:element name="assurance" type="typeAssurance" />
            <xsd:element name="particulier" type="typeParticulier" />
         </xsd:choice>
         <xsd:element name="commentaire" type="commentaire" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="rangPriseEnCharge" type="xsd:positiveInteger" use="optional"/>
      <xsd:attribute name="demandePec" type="attrCodeDemandePec" use="optional"/>
      <xsd:attribute name="etatReponse" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecForfaitJournalier" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecTransportSmur" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecChambreParticulier" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecForfaitDependance" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecForfaitHerbergement" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecForfaitSoins" type="ouiNon" use="optional"/>
      <xsd:attribute name="pecRegimeCommun" type="ouiNon" use="optional"/>
      <xsd:attribute name="pec18Euros" type="ouiNon" use="optional"/>
   </xsd:complexType>

   <xsd:complexType name="typeAssurance">
      <xsd:sequence>
         <xsd:element name="identifiant" type="typeIdentifiant" />
         <xsd:element name="nom" type="texte35" />
         <xsd:element name="adresses" type="typeAdresses" />
         <xsd:element name="assure" type="typeAssureDebiteur" />
         <xsd:element name="dates" type="typeDatesPec" />
         <xsd:element name="tauxRemboursementPrincipal" type="tauxRemboursement" />
         <xsd:choice>
            <xsd:element name="obligatoire" type="typeDebiteurObligatoire" />
            <xsd:element name="complementaire" type="typeDebiteurComplementaire" />
         </xsd:choice>

      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="typeAssureDebiteur">
      <xsd:sequence>
         <xsd:element name="identifiant" type="typeIdentifiant" minOccurs="0"/>
         <xsd:element name="immatriculation" type="insee:numeroImmatriculationInsee" minOccurs="0"/>
         <xsd:element name="personne" type="typePersonneAssure" minOccurs="0"/>
         <xsd:element name="lienAssure" type="rangBeneficiaire" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="flagPatient" type="ouiNon" use="optional"/>
   </xsd:complexType>

   <xsd:complexType name="typeDatesPec">
      <xsd:sequence>
         <xsd:element name="dateDebutDroit" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateFinDroit" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateDebutPec" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateFinPec" type="xsd:date" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="typeDebiteurObligatoire">
      <xsd:sequence>
         <xsd:element name="grandRegime" type="codeGrandRegime"/>
         <xsd:element name="caisseAffiliation" type="caisseAffiliation" minOccurs="0"/>
         <xsd:element name="centrePaiement" type="centrePaiement" minOccurs="0"/>
         <xsd:element name="risque" type="typeRisque"/>
         <xsd:choice>
            <xsd:element name="pieceDroit" type="pieceDroitHprim" minOccurs="0" />
            <xsd:element name="presomptionDroit" type="presomptionDroitHprim" minOccurs="0" />
         </xsd:choice>
         <xsd:element name="codeGestion" type="typeCodeGestion" minOccurs="0"/>
         <xsd:element name="conventionInternationale" type="insee:pays" minOccurs="0"/>
         <xsd:element name="exonerationsTM" type="typeExonerationsTM" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   

   <xsd:complexType name="typeDebiteurComplementaire">
      <xsd:sequence>
         <xsd:element name="code" type="nom10" minOccurs="0"/>
         <xsd:element name="contrat" type="typeContrat" minOccurs="0"/>
         <xsd:element name="referencePec" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="categorie" type="categorieComplementaireHprim" use="optional"/>
   </xsd:complexType>   

   <xsd:complexType name="typeParticulier">
      <xsd:sequence>
         <xsd:element name="identifiant" type="typeIdentifiant" minOccurs="0"/>
         <xsd:element name="personne" type="typePersonne" minOccurs="0"/>
         <xsd:element name="tauxRemboursementPrincipal" type="tauxRemboursement" minOccurs="0"/>
         <xsd:element name="limitationsPec" type="typeLimitationsPec" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="typeParticulier" type="attrParticulier" use="optional" default="autre"/>
   </xsd:complexType>   

   
   <!--
      Nature d'assurance (ou risque) associée aux codes exonérations possibles, 
      et aux renseignements complémentairesinduits
   -->
   <xsd:complexType name="typeRisque">
      <xsd:sequence>
         <xsd:annotation>
            <xsd:documentation>Ce type contient la nature du risque et les informations dépendantes, en respectant les combinaisons autorisées specifiées par la CNAMTS dans le cahier des charges 615 B2</xsd:documentation>
         </xsd:annotation>
         <xsd:choice minOccurs="0">
            <xsd:element name="risqueMaladie" type="typeAccident"/>
            <xsd:element name="risqueMaternite" type="typeRisqueAssuranceMaternite"/>
            <xsd:element name="risqueAccidentTravail" type="typeRisqueAssuranceAccidentTravail"/>
         </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="codeRisque" type="attrCodeRisque" use="required"/>
   </xsd:complexType>
   
   <xsd:complexType name="typeAccident">
      <xsd:sequence>
         <xsd:element name="dateAccident" type="xsd:date" minOccurs="0"/>
         <xsd:element name="numeroSinistre" type="nom10" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="natureAccident" type="attrNatureAccident" use="optional"/>
      <xsd:attribute name="accidentCauseParTiers" type="ouiNon" use="optional" default="non"/>
   </xsd:complexType>

   <!-- 
      risque "Maternité" = "30"
      codes exonérations possibles : 0
      renseignements induits : date de début de grossesse, date d'accouchement
   -->
   <xsd:complexType name="typeRisqueAssuranceMaternite">
      <xsd:sequence>
         <xsd:element name="dateDebutGrossesse" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateAccouchement" type="xsd:date" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <!-- 
      risque "Accident du travail" = "41"
      codes exonérations possibles : 0
      renseignements induits : date de l'accident, département de la CRAM de l'employeur (l'ensemble constitue le numéro d'AT)
   -->
   <xsd:complexType name="typeRisqueAssuranceAccidentTravail">
      <xsd:complexContent>
         <xsd:extension base="typeAccident">
            <xsd:sequence>
               <xsd:element name="departementCRAMEmployeur" type="departementFrancais" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <!--
      exoneration du ticket modérateur
   -->

   <xsd:complexType name="typeExonerationsTM">
      <xsd:sequence>
         <xsd:element name="exonerationTM" type="typeExonerationTM" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="typeExonerationTM">
      <xsd:sequence>
         <xsd:element name="dateDebut" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateFin" type="xsd:date" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="typeExoneration" type="attrTypeExoneration" use="required"/>
   </xsd:complexType>
   
   <xsd:complexType name="typeContrat">
      <xsd:sequence>
         <xsd:element name="identifiant" type="typeIdentifiant" minOccurs="0"/>
         <xsd:element name="codeContrat" type="typeCode17Libelle80Commentaire" minOccurs="0"/>
         <xsd:element name="dateDebutValidation" type="xsd:date" minOccurs="0"/>
         <xsd:element name="dateFinValidation" type="xsd:date" minOccurs="0"/>
         <xsd:element name="limitationsPec" type="typeLimitationsPec" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!--Limitations des débiteurs de la prise en charge-->
   <xsd:complexType name="typeLimitationsPec">
      <xsd:sequence>
         <xsd:element name="limitationPec" type="typeLimitationPec" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="typeLimitationPec">
      <xsd:sequence>
         <xsd:element name="tauxLimite" type="tauxRemboursement" minOccurs="0"/>
         <xsd:element name="montantLimite" minOccurs="0">
            <xsd:complexType>
               <xsd:simpleContent>
                  <xsd:extension base="typeMontantLimite">
                     <xsd:attribute name="montantGlobal" type="ouiNon" use="optional" default="oui"/>
                  </xsd:extension>
               </xsd:simpleContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="dureeLimite" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:positiveInteger">
                  <xsd:maxInclusive value="999"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="nbJourLimiteParMois" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:positiveInteger">
                  <xsd:maxInclusive value="31"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="typePrestation" type="attrCodePrestation" use="required"/>
   </xsd:complexType>
   
   
   <xsd:simpleType name="typeMontantLimite">
      <xsd:restriction base="xsd:positiveInteger">
         <xsd:maxInclusive value="999999999"/>
      </xsd:restriction>
   </xsd:simpleType>

   <!--
   ==========================
     Attributs
   ============================= -->

   <xsd:simpleType name="attrTypeExoneration">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="aldHorsListe"/>
         <xsd:enumeration value="aldListe"/>
         <xsd:enumeration value="aldMultiple"/>
         <xsd:enumeration value="alsaceMoselle"/>
         <xsd:enumeration value="article115"/>
         <xsd:enumeration value="autreCas"/>
         <xsd:enumeration value="autreCasAlsaceMoselle"/>
         <xsd:enumeration value="fns"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="attrCodePrestation">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="chambreParticulier"/>
         <xsd:enumeration value="forfaitDependance"/>
         <xsd:enumeration value="forfaitHerbergement"/>
         <xsd:enumeration value="forfaitJournalier"/>
         <xsd:enumeration value="forfaitSoins"/>
         <xsd:enumeration value="regimeCommun"/>
         <xsd:enumeration value="toutesPrestationSaufFJ"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="attrParticulier">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="adherent"/>
         <xsd:enumeration value="assure"/>
         <xsd:enumeration value="employeur"/>
         <xsd:enumeration value="patient"/>
         <xsd:enumeration value="autre"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="attrCodeDemandePec">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="demandeAnnulee"/>
         <xsd:enumeration value="demandeCreee"/>
         <xsd:enumeration value="demandeEditee"/>
         <xsd:enumeration value="demandeModifiee"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="attrNatureAccident">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="accidentDomestique"/>
         <xsd:enumeration value="accidentSport"/>
         <xsd:enumeration value="accidentTravail"/>
         <xsd:enumeration value="autreAccident"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:simpleType name="attrCodeRisque">
      <xsd:restriction base="xsd:integer">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="99"/>
      </xsd:restriction>
   </xsd:simpleType>
   

</xsd:schema>
