tests/document2.wsdl

<?xml version="1.0" encoding="iso-8859-1"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="MediboardWSDL" targetNamespace="urn:MediboardWSDL" xmlns:typens="urn:MediboardWSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:MediboardWSDL"/>
  </types>
  <message name="getHelloRequest">
    <part name="prenom" type="xsd:string"/>
    <part name="nom" type="xsd:string"/>
  </message>
  <message name="getHelloResponse">
    <part name="return" type="xsd:string"/>
  </message>
  
  <message name="enregistrementPatientRequest">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="message" type="xsd:anyType"/>
  </message>
  <message name="enregistrementPatientResponse">
    <part name="return" type="xsd:string"/>
  </message>
  
  <portType name="MediboardPort">
    <operation name="getHello">
      <input message="typens:getHelloRequest"/>
      <output message="typens:getHelloResponse"/>
    </operation>
    <operation name="enregistrementPatient">
      <input message="typens:enregistrementPatientRequest"/>
      <output message="typens:enregistrementPatientResponse"/>
    </operation>
  </portType>
  
  <binding name="MediboardBinding" type="typens:MediboardPort">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getHello">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="MediboardAction"/>
      <input name="getHelloRequest">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" namespace="urn:MediboardWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output name="getHelloReponse">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" namespace="urn:MediboardWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="enregistrementPatient">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="MediboardAction"/>
      <input name="enregistrementPatientRequest">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" namespace="urn:MediboardWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output name="enregistrementPatientReponse">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" namespace="urn:MediboardWSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="MediboardService">
    <documentation>Ceci est une documentation du WebService</documentation>
    <port name="MediboardPort" binding="MediboardBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://192.168.0.101/~yohann/mediboard_yohann/index.php?soap=1"/>
    </port>
  </service>
</definitions>