modules/sip/hprim/evenementPatient/pmsi.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- auteur : Eric DUFOUR -->
<xsd:schema targetNamespace="http://www.hprim.org/hprimXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hprim.org/hprimXML" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Ce schéma contient tous les types de données propres au PMSI </xsd:documentation>
	</xsd:annotation>
	<!-- 
      inclusions des schémas des niveaux inférieurs utiles 
   -->
	<xsd:include schemaLocation="typesTemps.xsd"/>
	<xsd:include schemaLocation="modesEntreeSortiePatient.xsd"/>
	<xsd:include schemaLocation="typesDeBase.xsd"/>
	<!-- 
      Typage des actes 
   -->
	<xsd:complexType name="typeActesRhs">
		<xsd:sequence>
			<xsd:element name="acte" type="typeActe" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage des actes propres au rum
   -->
	<xsd:complexType name="typeActesRum">
		<xsd:sequence>
			<xsd:element name="acte" type="typeActeRum" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage de l'acte  
   -->
	<xsd:complexType name="typeActe">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="CDAM" type="typeActeRumCdam"/>
				<xsd:element name="CCAM" type="typeActeRumCcam"/>
			</xsd:choice>
			<xsd:element name="codesLibres" type="typeCodesLibres" minOccurs="0"/>
			<xsd:element name="commentaire" type="commentaire" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage de l'acte pour le rum  ( ajout de la notion 'externe' pour relater 
      le fait que l'acte a été réalisée dans une structure de soin hors etablissement )
   -->
	<xsd:complexType name="typeActeRum">
		<xsd:complexContent>
			<xsd:extension base="typeActe">
				<xsd:attribute name="externe" type="ouiNon" default="non"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
		type acte cdam
	 -->
	<xsd:complexType name="typeActeRumCdam">
		<xsd:sequence>
			<xsd:element name="code" type="typeActeSimple"/>
			<xsd:element name="quantite" type="nombre2"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
     Codage de l'acte au format Ministeriel ( CDAM )
   -->
	<xsd:simpleType name="typeActeSimple">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- 
      Typage des diagnostics
   -->
	<xsd:complexType name="typeDiagnosticsRhs">
		<xsd:sequence>
			<xsd:element name="finalitePriseCharge" type="typeDiagnostic"/>
			<xsd:element name="manifestationPrincipale" type="typeDiagnostic"/>
			<xsd:element name="affectionEtiologique" type="typeDiagnostic"/>
			<xsd:element name="diagnosticsAssocies" type="typeDiagnosticsAssocies" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDiagnosticsAssocies">
		<xsd:sequence>
			<xsd:element name="diagnosticAssocie" type="typeDiagnostic" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage des diagnostics pour rum
   -->
	<xsd:complexType name="typeDiagnosticsRum">
		<xsd:sequence>
			<xsd:element name="diagnosticPrincipal" type="typeDiagnostic"/>
			<xsd:element name="diagnosticRelie" type="typeDiagnostic" minOccurs="0"/>
			<xsd:element name="diagnosticsSignificatifs" type="typeDiagnosticsSignificatifs" minOccurs="0"/>
			<xsd:element name="diagnosticsDocumentaires" type="typeDiagnosticsDocumentaires" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDiagnosticsSignificatifs">
		<xsd:sequence>
			<xsd:element name="diagnosticSignificatif" type="typeDiagnostic" minOccurs="0" maxOccurs="15"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDiagnosticsDocumentaires">
		<xsd:sequence>
			<xsd:element name="diagnosticDocumentaire" type="typeDiagnostic" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage du diagnostic pour rhs
   -->
	<xsd:complexType name="typeDiagnostic">
		<xsd:sequence>
			<xsd:element name="codeCim10" type="typeDiagnosticSimple"/>
			<xsd:element name="codesLibres" type="typeCodesLibres" minOccurs="0"/>
			<xsd:element name="commentaire" type="commentaire" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
     Codage du diagnostic OMS
   -->
	<xsd:simpleType name="typeDiagnosticSimple">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][0-9]{1,7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- 
      Typage des  actes de rééducation
   -->
	<xsd:complexType name="typeActesReeducation">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="acteReeducation" type="typeActeReeducation" maxOccurs="unbounded"/>
				<xsd:element name="chapitreActeReeducation" type="typeChapitreActeReeducation" maxOccurs="12"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage de l' acte de rééducation
   -->
	<xsd:complexType name="typeActeReeducation">
		<xsd:sequence>
			<xsd:element name="codeCDARR" type="typeActeReeducationSimple"/>
			<xsd:element name="duree" type="duree"/>
			<xsd:element name="commentaire" type="commentaire" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Typage du chapitre de l' acte de rééducation
   -->
	<xsd:complexType name="typeChapitreActeReeducation">
		<xsd:sequence>
			<xsd:element name="duree" type="duree"/>
			<xsd:element name="commentaire" type="commentaire" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="mnemonique" type="typeChapitreReeducationSimple" use="required"/>
	</xsd:complexType>
	<!--
     Codage de l'acte de reeducation
   -->
	<xsd:simpleType name="typeActeReeducationSimple">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}[0-9]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
     Codage du chapitre de l'acte de reeducation
     
               Code     Traduction
            .........      ..............................................
            me            reeducation mecanique
            sm            reeducation sensori motrice
            np            reeducation neuro psychologique
            rc            reeducation respiratoire et cardio vasculaire
            nu            reeducation nutritionnelle
            su            reeducation sphincterienne et urologique 
            ri            readaptation reinsertion
            ap            adaptation d'appareillage
            co            reeducation collective
            bi            bilan
            ph            physiotherapie    
            ba            balneotherapie

   -->
	<xsd:simpleType name="typeChapitreReeducationSimple">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="me"/>
			<xsd:enumeration value="sm"/>
			<xsd:enumeration value="np"/>
			<xsd:enumeration value="rc"/>
			<xsd:enumeration value="nu"/>
			<xsd:enumeration value="su"/>
			<xsd:enumeration value="ri"/>
			<xsd:enumeration value="ap"/>
			<xsd:enumeration value="co"/>
			<xsd:enumeration value="bi"/>
			<xsd:enumeration value="me"/>
			<xsd:enumeration value="ph"/>
			<xsd:enumeration value="ba"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- 
     Typage des jours de présence pour le rhs à compter du lundi 
   -->
	<xsd:complexType name="typeJoursPresence">
		<xsd:sequence>
			<xsd:element name="jourPresence" type="typeJourPresence" maxOccurs="7"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeJourPresence">
		<xsd:attribute name="jour" type="jourSemaine" use="required"/>
	</xsd:complexType>
	<!-- 
      Typage des dépendances pour rhs
   -->
	<xsd:complexType name="typeDependances">
		<xsd:sequence>
			<xsd:element name="dependance" type="typeDependance" minOccurs="6" maxOccurs="6"/>
		</xsd:sequence>
		<xsd:attribute name="fauteuil" type="ouiNon" use="required"/>
	</xsd:complexType>
	<!-- 
      Typage d'une  dépendances pour rhs
   -->
	<xsd:complexType name="typeDependance">
		<xsd:sequence>
			<xsd:element name="degre" type="degre"/>
			<xsd:element name="codeLibre" type="typeCodeLibreDep" minOccurs="0"/>
			<xsd:element name="commentaire" type="commentaire" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="nature" type="dependance" use="required"/>
	</xsd:complexType>
	<!-- 
      Typage du code libre dependance
   -->
	<xsd:complexType name="typeCodeLibreDep">
		<xsd:complexContent>
			<xsd:extension base="typeCode10Libelle35">
				<xsd:sequence>
					<xsd:element name="valeur" type="nom15"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- 
      Typage de l'identifiant pmsi 
   -->
	<xsd:complexType name="typeIdentifiantPMSI">
		<xsd:sequence>
			<xsd:element name="emetteur" type="nom17" minOccurs="0"/>
			<xsd:element name="recepteur" type="nom17" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
      Valeurs de nature de dépendance
   -->
	<xsd:simpleType name="dependance">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="habillage"/>
			<xsd:enumeration value="déplacement"/>
			<xsd:enumeration value="alimentation"/>
			<xsd:enumeration value="continence"/>
			<xsd:enumeration value="comportement"/>
			<xsd:enumeration value="relation"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="igs2">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxExclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="seance">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxExclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="degre">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxExclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="duree">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxExclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
      typage de date d'entree ou sortie 
   -->
	<xsd:complexType name="typeEntreeSortie">
		<xsd:complexContent>
			<xsd:extension base="typeDateHeureOptionnelle">
				<xsd:attribute name="mode" type="modeMouvementPMSI" use="required"/>
				<xsd:attribute name="complementMode" type="complementModePMSI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
      "modeMouvementPMSI" :
      mode d'un mouvement 
      pour gérer le cas particulier d'une sortie de l'établissement qui n'interrompt pas pour autant la venue
      0 : transfert provisoire
      6 : mutation
      7 : transfert
      8 : domicile
      9 : décés
               .........      ..............................................
               aej         autre entité juridique
               aet         autre établissement de la même entité juridique
               dom      domicile
               ext         autre lieu extérieur

   -->
	<xsd:simpleType name="modeMouvementPMSI">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
      "complementModePMSI" :
      Complément de mode d'un mouvement (lorsque le mode vaut "6" ou "7")
      1 : unité de soins courte durée
      2 : unité de ssr
      3 : unité de soins longues durée ou hebergement médico social
      4 : psychiatrie
      5 : service d'urgence
      6 : hospitalisation a domicile
      7 : structure d'hebergement medico social
   -->
	<!--
   <xsd:simpleType name="complementModePMSI">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
         <xsd:enumeration value="2"/>
         <xsd:enumeration value="3"/>
         <xsd:enumeration value="4"/>
         <xsd:enumeration value="5"/>
         <xsd:enumeration value="6"/>
         <xsd:enumeration value="7"/>
      </xsd:restriction>
   </xsd:simpleType>
   -->
	<!-- 
      Typage des codes libres 
   -->
	<xsd:complexType name="typeCodesLibres">
		<xsd:sequence>
			<xsd:element name="codeLibre" type="typeCode10Libelle35" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
   
      Typage des unités médicales
   -->
	<xsd:complexType name="typeUniteMedicale">
		<xsd:complexContent>
			<xsd:extension base="typeCode10Libelle35">
				<xsd:sequence>
					<xsd:element name="entree" type="typeEntreeSortie"/>
					<xsd:element name="sortie" type="typeEntreeSortie" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
		type acte ccam
		
	 -->
	<xsd:complexType name="typeActeRumCcam">
		<xsd:sequence>
			<xsd:element name="codeActe" type="ccam"/>
			<xsd:element name="codePhase" type="nombre2"/>
			<xsd:element name="quantite" type="nombre2"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
