modules/cda/resources/TestClasses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="datatypes.xsd"/>
  <xs:include schemaLocation="voc.xsd"/>
<xs:element name="ActClass" type="ActClass"/>
<xs:element name="ActClassComposition" type="ActClassComposition"/>
<xs:element name="ActClassCondition" type="ActClassCondition"/>
<xs:element name="ActClassContract" type="ActClassContract"/>
<xs:element name="ActClassControlAct" type="ActClassControlAct"/>
<xs:element name="ActClassDocument" type="ActClassDocument"/>
<xs:element name="ActClassEntry" type="ActClassEntry"/>
<xs:element name="ActClassExtract" type="ActClassExtract"/>
<xs:element name="ActClassFinancialContract" type="ActClassFinancialContract"/>
<xs:element name="ActClassObservation" type="ActClassObservation"/>
<xs:element name="ActClassObservationSeries" type="ActClassObservationSeries"/>
<xs:element name="ActClassOrganizer" type="ActClassOrganizer"/>
<xs:element name="ActClassPublicHealthCase" type="ActClassPublicHealthCase"/>
<xs:element name="ActClassROI" type="ActClassROI"/>
<xs:element name="ActClassRoot" type="ActClassRoot"/>
<xs:element name="ActClassSupply" type="ActClassSupply"/>
<xs:element name="ActClinicalDocument" type="ActClinicalDocument"/>
<xs:element name="ActContainer" type="ActContainer"/>
<xs:element name="ActMood" type="ActMood"/>
<xs:element name="ActMoodCompletionTrack" type="ActMoodCompletionTrack"/>
<xs:element name="ActMoodIntent" type="ActMoodIntent"/>
<xs:element name="ActMoodPredicate" type="ActMoodPredicate"/>
<xs:element name="ActRelationshipAccounting" type="ActRelationshipAccounting"/>
<xs:element name="ActRelationshipConditional" type="ActRelationshipConditional"/>
<xs:element name="ActRelationshipCostTracking" type="ActRelationshipCostTracking"/>
<xs:element name="ActRelationshipExcerpt" type="ActRelationshipExcerpt"/>
<xs:element name="ActRelationshipFulfills" type="ActRelationshipFulfills"/>
<xs:element name="ActRelationshipHasComponent" type="ActRelationshipHasComponent"/>
<xs:element name="ActRelationshipObjective" type="ActRelationshipObjective"/>
<xs:element name="ActRelationshipOutcome" type="ActRelationshipOutcome"/>
<xs:element name="ActRelationshipPertains" type="ActRelationshipPertains"/>
<xs:element name="ActRelationshipPosting" type="ActRelationshipPosting"/>
<xs:element name="ActRelationshipReason" type="ActRelationshipReason"/>
<xs:element name="ActRelationshipReplacement" type="ActRelationshipReplacement"/>
<xs:element name="ActRelationshipSequel" type="ActRelationshipSequel"/>
<xs:element name="ActRelationshipType" type="ActRelationshipType"/>
<xs:element name="AdditionalLocator" type="AdditionalLocator"/>
<xs:element name="AddressPartType" type="AddressPartType"/>
<xs:element name="AddressUse" type="AddressUse"/>
<xs:element name="ApplicationMediaType" type="ApplicationMediaType"/>
<xs:element name="AskedButUnknown" type="AskedButUnknown"/>
<xs:element name="AudioMediaType" type="AudioMediaType"/>
<xs:element name="BuildingNumber" type="BuildingNumber"/>
<xs:element name="CalendarCycle" type="CalendarCycle"/>
<xs:element name="CalendarCycleOneLetter" type="CalendarCycleOneLetter"/>
<xs:element name="CalendarCycleTwoLetter" type="CalendarCycleTwoLetter"/>
<xs:element name="Classes" type="Classes"/>
<xs:element name="CommunicationFunctionType" type="CommunicationFunctionType"/>
<xs:element name="CompressionAlgorithm" type="CompressionAlgorithm"/>
<xs:element name="ContextControl" type="ContextControl"/>
<xs:element name="ContextControlAdditive" type="ContextControlAdditive"/>
<xs:element name="ContextControlNonPropagating" type="ContextControlNonPropagating"/>
<xs:element name="ContextControlOverriding" type="ContextControlOverriding"/>
<xs:element name="ContextControlPropagating" type="ContextControlPropagating"/>
<xs:element name="Currency" type="Currency"/>
<xs:element name="DeliveryAddressLine" type="DeliveryAddressLine"/>
<xs:element name="EntityClass" type="EntityClass"/>
<xs:element name="EntityClassContainer" type="EntityClassContainer"/>
<xs:element name="EntityClassDevice" type="EntityClassDevice"/>
<xs:element name="EntityClassLivingSubject" type="EntityClassLivingSubject"/>
<xs:element name="EntityClassManufacturedMaterial" type="EntityClassManufacturedMaterial"/>
<xs:element name="EntityClassMaterial" type="EntityClassMaterial"/>
<xs:element name="EntityClassNonPersonLivingSubject" type="EntityClassNonPersonLivingSubject"/>
<xs:element name="EntityClassOrganization" type="EntityClassOrganization"/>
<xs:element name="EntityClassPlace" type="EntityClassPlace"/>
<xs:element name="EntityClassRoot" type="EntityClassRoot"/>
<xs:element name="EntityDeterminer" type="EntityDeterminer"/>
<xs:element name="EntityDeterminerDetermined" type="EntityDeterminerDetermined"/>
<xs:element name="EntityNamePartQualifier" type="EntityNamePartQualifier"/>
<xs:element name="EntityNamePartType" type="EntityNamePartType"/>
<xs:element name="EntityNameSearchUse" type="EntityNameSearchUse"/>
<xs:element name="EntityNameUse" type="EntityNameUse"/>
<xs:element name="GregorianCalendarCycle" type="GregorianCalendarCycle"/>
<xs:element name="HomeAddressUse" type="HomeAddressUse"/>
<xs:element name="ImageMediaType" type="ImageMediaType"/>
<xs:element name="IntegrityCheckAlgorithm" type="IntegrityCheckAlgorithm"/>
<xs:element name="LicensedEntityRole" type="LicensedEntityRole"/>
<xs:element name="MediaType" type="MediaType"/>
<xs:element name="ModelMediaType" type="ModelMediaType"/>
<xs:element name="MultipartMediaType" type="MultipartMediaType"/>
<xs:element name="NamePseudonymUse" type="NamePseudonymUse"/>
<xs:element name="NameRepresentationUse" type="NameRepresentationUse"/>
<xs:element name="NoInformation" type="NoInformation"/>
<xs:element name="NullFlavor" type="NullFlavor"/>
<xs:element name="OrganizationNamePartQualifier" type="OrganizationNamePartQualifier"/>
<xs:element name="OrganizationNameUse" type="OrganizationNameUse"/>
<xs:element name="Other" type="Other"/>
<xs:element name="ParticipationAncillary" type="ParticipationAncillary"/>
<xs:element name="ParticipationIndirectTarget" type="ParticipationIndirectTarget"/>
<xs:element name="ParticipationInformationGenerator" type="ParticipationInformationGenerator"/>
<xs:element name="ParticipationInformationRecipient" type="ParticipationInformationRecipient"/>
<xs:element name="ParticipationPhysicalPerformer" type="ParticipationPhysicalPerformer"/>
<xs:element name="ParticipationTargetDevice" type="ParticipationTargetDevice"/>
<xs:element name="ParticipationTargetDirect" type="ParticipationTargetDirect"/>
<xs:element name="ParticipationTargetLocation" type="ParticipationTargetLocation"/>
<xs:element name="ParticipationTargetSubject" type="ParticipationTargetSubject"/>
<xs:element name="ParticipationType" type="ParticipationType"/>
<xs:element name="ParticipationVerifier" type="ParticipationVerifier"/>
<xs:element name="PersonNamePartAffixTypes" type="PersonNamePartAffixTypes"/>
<xs:element name="PersonNamePartChangeQualifier" type="PersonNamePartChangeQualifier"/>
<xs:element name="PersonNamePartMiscQualifier" type="PersonNamePartMiscQualifier"/>
<xs:element name="PersonNamePartQualifier" type="PersonNamePartQualifier"/>
<xs:element name="PersonNameUse" type="PersonNameUse"/>
<xs:element name="PostalAddressUse" type="PostalAddressUse"/>
<xs:element name="ProbabilityDistributionType" type="ProbabilityDistributionType"/>
<xs:element name="RelatedLinkType" type="RelatedLinkType"/>
<xs:element name="RoleClass" type="RoleClass"/>
<xs:element name="RoleClassAgent" type="RoleClassAgent"/>
<xs:element name="RoleClassAssignedEntity" type="RoleClassAssignedEntity"/>
<xs:element name="RoleClassAssociative" type="RoleClassAssociative"/>
<xs:element name="RoleClassContact" type="RoleClassContact"/>
<xs:element name="RoleClassDistributedMaterial" type="RoleClassDistributedMaterial"/>
<xs:element name="RoleClassEmployee" type="RoleClassEmployee"/>
<xs:element name="RoleClassInactiveIngredient" type="RoleClassInactiveIngredient"/>
<xs:element name="RoleClassIngredientEntity" type="RoleClassIngredientEntity"/>
<xs:element name="RoleClassInvestigationSubject" type="RoleClassInvestigationSubject"/>
<xs:element name="RoleClassIsSpeciesEntity" type="RoleClassIsSpeciesEntity"/>
<xs:element name="RoleClassLocatedEntity" type="RoleClassLocatedEntity"/>
<xs:element name="RoleClassManufacturedProduct" type="RoleClassManufacturedProduct"/>
<xs:element name="RoleClassMutualRelationship" type="RoleClassMutualRelationship"/>
<xs:element name="RoleClassOntological" type="RoleClassOntological"/>
<xs:element name="RoleClassPartitive" type="RoleClassPartitive"/>
<xs:element name="RoleClassPassive" type="RoleClassPassive"/>
<xs:element name="RoleClassRelationshipFormal" type="RoleClassRelationshipFormal"/>
<xs:element name="RoleClassRoot" type="RoleClassRoot"/>
<xs:element name="RoleClassServiceDeliveryLocation" type="RoleClassServiceDeliveryLocation"/>
<xs:element name="RoleClassSpecimen" type="RoleClassSpecimen"/>
<xs:element name="RoleLinkType" type="RoleLinkType"/>
<xs:element name="SetOperator" type="SetOperator"/>
<xs:element name="State" type="State"/>
<xs:element name="StreetAddressLine" type="StreetAddressLine"/>
<xs:element name="StreetName" type="StreetName"/>
<xs:element name="TelecommunicationAddressUse" type="TelecommunicationAddressUse"/>
<xs:element name="TemporallyPertains" type="TemporallyPertains"/>
<xs:element name="TextMediaType" type="TextMediaType"/>
<xs:element name="TimingEvent" type="TimingEvent"/>
<xs:element name="URLScheme" type="URLScheme"/>
<xs:element name="Unknown" type="Unknown"/>
<xs:element name="VideoMediaType" type="VideoMediaType"/>
<xs:element name="WorkPlaceAddressUse" type="WorkPlaceAddressUse"/>
<xs:element name="hasSupport" type="hasSupport"/>
<xs:element name="x_ActClassDocumentEntryAct" type="x_ActClassDocumentEntryAct"/>
<xs:element name="x_ActClassDocumentEntryOrganizer" type="x_ActClassDocumentEntryOrganizer"/>
<xs:element name="x_ActMoodDefEvn" type="x_ActMoodDefEvn"/>
<xs:element name="x_ActMoodDefEvnRqoPrmsPrp" type="x_ActMoodDefEvnRqoPrmsPrp"/>
<xs:element name="x_ActMoodDocumentObservation" type="x_ActMoodDocumentObservation"/>
<xs:element name="x_ActMoodEvnOrdPrmsPrp" type="x_ActMoodEvnOrdPrmsPrp"/>
<xs:element name="x_ActMoodIntentEvent" type="x_ActMoodIntentEvent"/>
<xs:element name="x_ActMoodOrdPrms" type="x_ActMoodOrdPrms"/>
<xs:element name="x_ActMoodOrdPrmsEvn" type="x_ActMoodOrdPrmsEvn"/>
<xs:element name="x_ActMoodRqoPrpAptArq" type="x_ActMoodRqoPrpAptArq"/>
<xs:element name="x_ActRelationshipDocument" type="x_ActRelationshipDocument"/>
<xs:element name="x_ActRelationshipEntry" type="x_ActRelationshipEntry"/>
<xs:element name="x_ActRelationshipEntryRelationship" type="x_ActRelationshipEntryRelationship"/>
<xs:element name="x_ActRelationshipExternalReference" type="x_ActRelationshipExternalReference"/>
<xs:element name="x_ActRelationshipPatientTransport" type="x_ActRelationshipPatientTransport"/>
<xs:element name="x_ActRelationshipPertinentInfo" type="x_ActRelationshipPertinentInfo"/>
<xs:element name="x_DeterminerInstanceKind" type="x_DeterminerInstanceKind"/>
<xs:element name="x_DocumentActMood" type="x_DocumentActMood"/>
<xs:element name="x_DocumentEncounterMood" type="x_DocumentEncounterMood"/>
<xs:element name="x_DocumentEntrySubject" type="x_DocumentEntrySubject"/>
<xs:element name="x_DocumentProcedureMood" type="x_DocumentProcedureMood"/>
<xs:element name="x_DocumentSubject" type="x_DocumentSubject"/>
<xs:element name="x_DocumentSubstanceMood" type="x_DocumentSubstanceMood"/>
<xs:element name="x_EncounterParticipant" type="x_EncounterParticipant"/>
<xs:element name="x_EncounterPerformerParticipation" type="x_EncounterPerformerParticipation"/>
<xs:element name="x_EntityClassDocumentReceiving" type="x_EntityClassDocumentReceiving"/>
<xs:element name="x_EntityClassPersonOrOrgReceiving" type="x_EntityClassPersonOrOrgReceiving"/>
<xs:element name="x_InformationRecipient" type="x_InformationRecipient"/>
<xs:element name="x_InformationRecipientRole" type="x_InformationRecipientRole"/>
<xs:element name="x_OrganizationNamePartType" type="x_OrganizationNamePartType"/>
<xs:element name="x_ParticipationAuthorPerformer" type="x_ParticipationAuthorPerformer"/>
<xs:element name="x_ParticipationEntVrf" type="x_ParticipationEntVrf"/>
<xs:element name="x_ParticipationPrfEntVrf" type="x_ParticipationPrfEntVrf"/>
<xs:element name="x_ParticipationVrfRespSprfWit" type="x_ParticipationVrfRespSprfWit"/>
<xs:element name="x_PersonNamePartType" type="x_PersonNamePartType"/>
<xs:element name="x_RoleClassAccommodationRequestor" type="x_RoleClassAccommodationRequestor"/>
<xs:element name="x_RoleClassCoverage" type="x_RoleClassCoverage"/>
<xs:element name="x_RoleClassCoverageInvoice" type="x_RoleClassCoverageInvoice"/>
<xs:element name="x_RoleClassCredentialedEntity" type="x_RoleClassCredentialedEntity"/>
<xs:element name="x_RoleClassPayeePolicyRelationship" type="x_RoleClassPayeePolicyRelationship"/>
<xs:element name="x_ServiceEventPerformer" type="x_ServiceEventPerformer"/>
<xs:element name="ANY" type="ANY"/>
<xs:element name="ANYNonNull" type="ANYNonNull"/>
<xs:element name="BIN" type="BIN"/>
<xs:element name="BL" type="BL"/>
<xs:element name="BN" type="BN"/>
<xs:element name="BinaryDataEncoding" type="BinaryDataEncoding"/>
<xs:element name="CD" type="CD"/>
<xs:element name="CE" type="CE"/>
<xs:element name="CS" type="CS"/>
<xs:element name="CV" type="CV"/>
<xs:element name="QTY" type="QTY"/>
<xs:element name="SXCM_TS" type="SXCM_TS"/>
<xs:element name="TEL" type="TEL"/>
<xs:element name="TS" type="TS"/>
<xs:element name="URL" type="URL"/>
<xs:element name="bin" type="bin"/>
<xs:element name="bl" type="bl"/>
<xs:element name="bn" type="bn"/>
<xs:element name="cs" type="cs"/>
<xs:element name="oid" type="oid"/>
<xs:element name="ruid" type="ruid"/>
<xs:element name="st" type="st"/>
<xs:element name="ts" type="ts"/>
<xs:element name="uid" type="uid"/>
<xs:element name="url" type="url"/>
<xs:element name="uuid" type="uuid"/>
<xs:element name="set_TelecommunicationAddressUse" type="set_TelecommunicationAddressUse"/>
</xs:schema>